<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.copel.mhmat.pranchetaVirtualSmrNrt">

<uses-permission android:name="android.permission.CALL_PHONE"/>
<uses-permission android:name="android.permission.RECEIVE_SMS"/>



<application
    android:allowBackup="false"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme" >
    <activity
        android:name="com.copel.mhmat.pranchetaVirtualSmrNrt.ListaServicosActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.copel.mhmat.pranchetaVirtualSmrNrt.FormularioActivity"
        android:windowSoftInputMode="stateAlwaysHidden"
        android:label="@string/title_activity_formulario" >

    </activity>

    <activity
        android:name="com.copel.mhmat.pranchetaVirtualSmrNrt.ListaServicosEncerradosActivity"
        android:windowSoftInputMode="stateAlwaysHidden"
        android:label="SERVIÇOS ENCERRADOS" >

    </activity>

    <activity
        android:name="com.copel.mhmat.pranchetaVirtualSmrNrt.ListaColaboradoresActivity"
        android:windowSoftInputMode="stateAlwaysHidden"
        android:label="COLABORADORES" >

    </activity>

    <activity
        android:name="com.copel.mhmat.pranchetaVirtualSmrNrt.PdfActivity"
        android:windowSoftInputMode="stateAlwaysHidden"
        android:label="VISUALIZADOR DE PDF" >

    </activity>

    <activity
        android:name="com.copel.mhmat.pranchetaVirtualSmrNrt.PesquisaIpActivity"
        android:windowSoftInputMode="stateAlwaysHidden"
        android:label="DADOS DE COMUNICAÇÃO" >

    </activity>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:grantUriPermissions="true"
        android:exported="false">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />
    </provider>



    <receiver android:name="com.copel.mhmat.pranchetaVirtualSmrNrt.receiver.SMSReceiver">
        <intent-filter>
            <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
        </intent-filter>
    </receiver>
</application>

</manifest>
